extends layout

block content
  h1= title

  if task_list.length
    ul
      each task in task_list
        li
          p= task.description

          if task.status=='completed'
            span.text-success #{task.status}
          else if task.status=='not started'
            span.text-danger #{task.status}
          else
            span.text-warning #{task.status}
          if task.status!='completed'
            span  (Due: #{task.due_back_formatted} )

          span Priority: 
            strong= task.priority
          ul
            li
              a(href=`tasks/${task._id}/update-task`) edit task

            li
              form(action=`/tasks/${task._id}/delete-task`, method='POST')
                input(type='hidden', name='_method', value='DELETE')
                button(type='submit') Delete Task


  else
    p There are no tasks 
