extends layout

block content
  h1= title

  
  if user_list.length
    ul
      each user in user_list
        li
          
          a(href=`/users/${user.id}/update`) #{user.name}
         
          |  (task count: #{user.TaskCount || "NOT IMPLEMENTED"}) 
        li
              form(action=`/users/${user._id}/delete-user`, method='POST')
                input(type='hidden', name='_method', value='DELETE')
                button(type='submit') Delete user

  else
    p There are no users.
